<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if logged_in? %>
      <h1>Namaste, <%= current_user.username %></h1>
      <h3>Your posts <%= current_user.posts %></h3>

      <h4><a href="/logout">Log Out</a></h4>
    <% end %>
  </body>
