<h1>All Posts</h1>

<% @posts.each do |post| %>
  <h4><a href="/posts/<%= post.id %>"><%= post.created_at %></a></h4>
  <strong>Anxiety Rating:<%=post.rating %></strong>
  <p><%= post.content %></p>
<% end %>
