<h1>Insert the form to create a new instance of your model.</h1>
#create new post form

<form class="" action="/posts" method="post">
  #fill in fields
  <label for="content">Content:</label>
  <input type="text" name="username" value="">
  <label for="username">How was your An:</label>
  <input type="text" name="email" value="">
  <label for="password">Password:</label>
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Create User">
</form>
