<!DOCTYPE html>
<% if flash[:message] %>
<h3><%= flash[:message] %> </h3>
<%end%>
<html>
  <head>
    <a href= '/'>Home</a>
    <a href= '/signup'>Signup</a>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Log In Please</h1>
    <form method="post" action="/login">
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Username">
      <label for="Password">Password:</label>
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="login">
    </form>
  </body>
</html>
